.App {
  text-align: center;
}

.p-scrolltop{
  background: #0D89EC !important;
}

.hidden{
  display: none !important;
}


.error-shake {
  -webkit-animation: kf_shake 0.4s 1 linear;
  -moz-animation: kf_shake 0.4s 1 linear;
  -o-animation: kf_shake 0.4s 1 linear;
}
@-webkit-keyframes kf_shake {
  0% { -webkit-transform: translate(30px); }
  20% { -webkit-transform: translate(-30px); }
  40% { -webkit-transform: translate(15px); }
  60% { -webkit-transform: translate(-15px); }
  80% { -webkit-transform: translate(8px); }
  100% { -webkit-transform: translate(0px); }
}
@-moz-keyframes kf_shake {
  0% { -moz-transform: translate(30px); }
  20% { -moz-transform: translate(-30px); }
  40% { -moz-transform: translate(15px); }
  60% { -moz-transform: translate(-15px); }
  80% { -moz-transform: translate(8px); }
  100% { -moz-transform: translate(0px); }
}
@-o-keyframes kf_shake {
  0% { -o-transform: translate(30px); }
  20% { -o-transform: translate(-30px); }
  40% { -o-transform: translate(15px); }
  60% { -o-transform: translate(-15px); }
  80% { -o-transform: translate(8px); }
  100% { -o-origin-transform: translate(0px); }
}

/*
HEADER
*/

.app-header{
  width: 100%;
  flex-direction:column;
}

.p-tabmenu-nav{
  justify-content: center;
}

.menu-categorias{
  border: 0 !important;
}

.menu-categorias-content{
  border: 0 !important;
}

.logo{
  max-height: 3em;
  margin-top: 10px ;
  margin-right: 10px ;
}

.searchbar-container{
  border-radius: 25px !important;
  flex-grow: 2;
  align-content: flex-start;
}

#searchbar{
  display:flex;
  margin-right: 1em;
}

#searchbar > .p-inputtext {
  width: 100%;
  padding-right: 1em;
  max-width: 450px;
  border-radius: 25px;
}

.p-toolbar-group-left{
  flex-grow: 4;
  min-width: 400px;
}

.p-toolbar-group-right{
  display:flex;
  flex-grow: 1;
}

/*
MAIN CONTENT
*/
.mainContent{
  margin-top:25px;
  margin-bottom: 50px;
}
@media only screen and (min-width: 1024px) {
  .mainContent {
    padding-left: 10em;
    padding-right: 10em;
  }
}

/*
HOME PAGE
 */

.carousel-principal > .p-carousel{
  padding: 20px;
}

.card-image{
  height: 5em;
  width: 5em;
  margin-top: 2rem;
}

.p-card{
  width: 20rem;
  margin-bottom: 2em;
  margin-top: 2em;

}
/*
OFERTAS
 */
.carousel-product-image{
  height: 5em;
  width: 5em;
  margin-top: 2rem;
}

.product-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}

.product-badge.status-instock {
  background: #c8e6c9;
  color: #256029;
}

.product-badge.status-lowstock {
  background: #feedaf;
  color: #8a5340;
}

.product-badge.status-outofstock {
  background: #ffcdd2;
  color: #c63737;
}

/*
LOGIN
 */
.login-dialog{
  width: 20vw;
}

.login-dialog-logo{
  margin-top: 30px;
}

.login-dialog-header-text{
  display: inline-block;
  width: 100%;
  text-align: center;
}

.login-dialog-content-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-dialog-input{
  margin: 20px auto;
  display: inline-block;

}

.login-dialog-error-message{
  display: flex;
  margin: auto;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
}

.tarjeta {
  margin: 1rem;
  flex-basis: 45%;
  max-width: 20rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

/*
CARRITO
 */
.p-datatable{
  border: 1px solid #e9ecef;
  box-shadow: 5px 5px 5px lightgray;
}

/*
PRODUCT DETAILS
 */

.product-details-breadcrumb{
  margin-bottom: 25px;
}