.App {
  text-align: center;
}

/*
HEADER
*/

.Header{
  width: 100%;
  flex-direction:column;
}

.p-tabmenu-nav{
  justify-content: center;
}

.logoFull{
  max-height: 3em;
  margin-top: 10px ;
  margin-right: 10px ;
}

.searchbar-container{
  border-radius: 25px !important;
  padding-left: 3em;
  padding-right: 3em;
  flex-grow: 2;
}

#searchbar{
  display:flex;
  flex-grow: 2;
}

#searchbar > .p-inputtext {
  width: 100%;
  border-radius: 25px;
}

.p-toolbar-group-left{
  flex-grow: 1;
}