.App {
  text-align: center;
}

.p-scrolltop{
  background: #0D89EC !important;
}

.hidden{
  display: none !important;
}


.error-shake {
  -webkit-animation: kf_shake 0.4s 1 linear;
  -moz-animation: kf_shake 0.4s 1 linear;
  -o-animation: kf_shake 0.4s 1 linear;
}
@-webkit-keyframes kf_shake {
  0% { -webkit-transform: translate(30px); }
  20% { -webkit-transform: translate(-30px); }
  40% { -webkit-transform: translate(15px); }
  60% { -webkit-transform: translate(-15px); }
  80% { -webkit-transform: translate(8px); }
  100% { -webkit-transform: translate(0px); }
}
@-moz-keyframes kf_shake {
  0% { -moz-transform: translate(30px); }
  20% { -moz-transform: translate(-30px); }
  40% { -moz-transform: translate(15px); }
  60% { -moz-transform: translate(-15px); }
  80% { -moz-transform: translate(8px); }
  100% { -moz-transform: translate(0px); }
}
@-o-keyframes kf_shake {
  0% { -o-transform: translate(30px); }
  20% { -o-transform: translate(-30px); }
  40% { -o-transform: translate(15px); }
  60% { -o-transform: translate(-15px); }
  80% { -o-transform: translate(8px); }
  100% { -o-origin-transform: translate(0px); }
}

/*
HEADER
*/

.app-header{
  width: 100%;
  flex-direction:column;
}

.p-tabmenu-nav{
  justify-content: center;
}

.menu-categorias{
  border: 0 !important;
}

.menu-categorias-content{
  border: 0 !important;
}

.logo{
  max-height: 3em;
  margin-top: 10px ;
  margin-right: 10px ;
}

.searchbar-container{
  border-radius: 25px !important;
  flex-grow: 2;
  align-content: flex-start;
}

#searchbar{
  display:flex;
  margin-right: 1em;
}

#searchbar > .p-inputtext {
  width: 100%;
  padding-right: 1em;
  max-width: 450px;
  border-radius: 25px;
}

.p-toolbar-group-left{
  flex-grow: 4;
  min-width: 400px;
}

.p-toolbar-group-right{
  display:flex;
  flex-grow: 1;
}

/*
MAIN CONTENT
*/
.mainContent{
  margin-top:25px;
  margin-bottom: 50px;
}
@media only screen and (min-width: 1024px) {
  .mainContent {
    padding-left: 10em;
    padding-right: 10em;
  }
}

/*
HOME PAGE
 */

.carousel-principal > .p-carousel{
  padding: 20px;
}

.card-image{
  height: 5em;
  width: 5em;
  margin-top: 2rem;
}

.p-card{
  width: 20rem;
  margin-bottom: 2em;
  margin-top: 2em;

}
/*
OFERTAS
 */
.carousel-product-image{
  height: 5em;
  width: 5em;
  margin-top: 2rem;
}

.product-badge {
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}

.product-badge.status-instock {
  background: #c8e6c9;
  color: #256029;
}

.product-badge.status-lowstock {
  background: #feedaf;
  color: #8a5340;
}

.product-badge.status-outofstock {
  background: #ffcdd2;
  color: #c63737;
}

/*
LOGIN
 */
.login-dialog{
  width: 20vw;
}

.login-dialog-logo{
  margin-top: 30px;
}

.login-dialog-header-text{
  display: inline-block;
  width: 100%;
  text-align: center;
}

.login-dialog-content-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-dialog-input{
  margin: 20px auto;
  display: inline-block;

}

.login-dialog-error-message{
  display: flex;
  margin: auto;
}

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
}

.tarjeta {
  margin: 1rem;
  flex-basis: 45%;
  max-width: 20rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.tarjeta > a > img {
  height: 100px;
  width: 100%;
}

/*
CARRITO
 */
.p-datatable{
  border: 1px solid #e9ecef;
  box-shadow: 5px 5px 5px lightgray;
}

/*
PRODUCT DETAILS
 */

.product-details-breadcrumb{
  margin-bottom: 25px;
}

.product-details-panel-content-container{
  display: flex;
}

/*
DATAVIEW
 */

.product-grid-item {
  margin: .5em !important;
  border: 1px solid #dee2e6 !important;
  padding: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
  border-radius: 4px;
}

.product-grid-item-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-list-item{
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.product-list-item > img {
  width: 150px;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
  box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
  margin-right: 2rem;
  max-height: 100px;
  max-width: 100px;
}

.product-list-item  .p-button{
  margin-bottom: .5rem;
}

.product-list-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: .5rem;
  align-self: flex-end;
}

.product-list-item .p-rating {
  margin: 0 0 .5rem;
}

.product-list-detail{
  flex: 1 1;
  box-sizing: border-box;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.product-list-action{
  display: flex;
  flex-direction: column;
}

.product-grid-item-content{
  text-align: center;
}

.product-grid-item-content > img {
  height: 20vh;
  width: 75%;
  box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23);
  margin: 2rem 0;
}

.p-dataview{
  border: 1px solid #e9ecef;
}

.p-dataview-content > .p-grid{
  border: 1px solid #e9ecef;
}
.p-dataview-list{
 /*width:100px;*/
 /* height: 100px;*/
}

.p-dataview-grid{
  width:80vw;
  height: 40vh;
}

.product-name{
  font-size: 1.5rem;
  font-weight: 700;
}

.product-description{
  margin: 0 0 1rem;
}

.product-grid-item-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-price{
  font-size: 1.5rem;
  font-weight: 600;
}

.product-category{
  font-weight: 600;
  vertical-align: middle;
}

.product-category-icon{
  vertical-align: middle;
  margin-right: .5rem;
}

.featured{
  padding-bottom: 50px;
}